{:deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/clojurescript {:mvn/version "1.11.54"}
        reagent/reagent {:mvn/version "1.0.0"}}
 :paths ["dev" "target"]
 :aliases {:nrepl {:extra-deps {nrepl/nrepl {:mvn/version "0.8.3"}
                       cider/piggieback {:mvn/version "0.5.2"}
                       cider/cider-nrepl {:mvn/version "0.28.5"}}
          :main-opts ["-m" "nrepl.cmdline"
                      "--middleware" "[cider.nrepl/cider-middleware]"]}
           :figwheel {:extra-paths ["tests/cljs"]
                      :extra-deps {com.bhauman/figwheel-main {:mvn/version "0.2.18"}}}}}
